.Skills-section {
  padding: 15px;
  display: grid;
  grid-template-rows: 0.25fr 0.5fr;
  height: 87vh;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--dark-blue);
  gap: 50px;
}
.info {
  text-align: center;
  color: white;
  grid-row: 1;
  padding-top: 20px;
}
.expert-section {
  grid-row: 2;
  align-items: center;
}
