.About-container {
  height: auto;
  width: 100%;
  background-color: var(--dark-blue);
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.info-about {
  max-width: 1000px;
}
.info-about h1 {
  padding-top: 100px;
}
.p {
  padding-top: 50px;
  letter-spacing: 0.5px;
  font-size: medium;
}
.About-container a {
  color: var(--red);
}

@media screen and (min-width: 493px) {
  .p {
    font-size: large;
  }
  .info-about {
    padding-bottom: 0;
  }
}
