.main-container {
  height: 100vh;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
.filter {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.753);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-container {
  width: 80%;

  max-height: 70%;
  border-radius: 25px;
}
.contact-icons {
  display: flex;
  justify-content: center;
  font-size: 22px;
}
.icons-list {
  display: flex;
  margin-top: 100px;
  gap: 13px;
  padding-left: 0;
  margin-bottom: 16px;
  background-color: transparent;
}

.icons-list li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}
.icons-list li:hover {
  background-color: var(--red);
}
li a {
  padding: 13px;
}
.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.title-container h1 {
  text-align: center;
  font-size: 35px;
}
.descr {
  display: flex;
  justify-content: center;
}

.descr p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  padding: 0 15px;
}
.action-btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.port-btn a {
  padding: 13px 30px;
}
.port-btn {
  background-color: var(--red);
  border: solid 0.5px var(--red);
  padding: 8px 12px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 25px;
  text-align: center;
}
.port-btn:hover {
  background-color: rgb(230, 102, 102);
}
.blinking-cursor:after {
  content: "|";
  color: white;
  font-weight: 500;
  animation: blink 1s step-start infinite;
}
.profile-img {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.info {
  width: 100%;
}
@media screen and (min-width: 483px) {
  .title-container h1 {
    overflow: hidden;
    border-right: 5px solid transparent;
    white-space: nowrap;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end 7;
  }
  .descr p {
    max-width: 520px;
    font-size: 26px;
  }
  .port-btn {
    padding: 8px 12px;
    font-size: 15px;
    line-height: 40px;
    font-weight: 300;
  }
  .action-btns {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .banner-container {
    max-width: 70%;
  }
  .title-container h1 {
    font-size: 54px;
  }

  .port-btn {
    padding: 10px 12px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1100px) {
  .contact-icons {
    font-size: 30px;
  }
  .icons-list li {
    width: 75px;
    height: 75px;
    gap: 13px;
  }

  .action-btns {
    gap: 15px;
  }
}

@media screen and (min-width: 1400px) {
  .banner-container {
    padding: 0 204px;
  }
}
