.main-container {
  height: 87vh;
  background-color: var(--blue);
  margin: 0;
}
.banner-container {
  position: relative;
}
.contact-icons {
  display: flex;
  justify-content: center;
  font-size: 22px;
}
.icons-list {
  display: flex;
  margin-top: 100px;
  gap: 13px;
  padding-left: 0;
  margin-bottom: 16px;
  background-color: var(--blue);
}

.icons-list li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}
.icons-list li:hover {
  background-color: var(--red);
}
li a {
  padding: 13px;
}
.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.title-container h1 {
  text-align: center;
}
.descr {
  display: flex;
  justify-content: center;
}

.descr p {
  font-size: 26px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  padding: 0 15px;
}
.action-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.port-btn a {
  padding: 13px 30px;
}
.port-btn {
  background-color: var(--red);
  border: solid 0.5px var(--red);
  padding: 8px 12px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 25px;
  text-align: center;
}
.port-btn:hover {
  background-color: rgb(230, 102, 102);
}
.blinking-cursor:after {
  content: "|";
  color: black;
  font-weight: 500;
  animation: blink 1s step-start infinite;
}
.profile-img {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.info {
  width: 100%;
}
@media screen and (min-width: 483px) {
  .title-container h1 {
    overflow: hidden;
    border-right: 5px solid transparent;
    white-space: nowrap;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end 7;
  }
  .descr p {
    max-width: 520px;
  }
  .port-btn {
    padding: 8px 12px;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .banner-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 75px;
  }
  .title-container h1 {
    font-size: 54px;
  }
  .info {
    position: absolute;
  }
  .main-container {
    padding: 100px 75px;
  }
  .action-btns,
  .contact-icons,
  .title-container,
  .descr {
    justify-content: center;
  }
  .descr p {
    text-align: center;
    padding: 0;
  }
  .port-btn {
    padding: 10px 12px;
    font-size: 15px;
  }
}
@media screen and (min-width: 1100px) {
  .info {
    /* max-width: 960px; */
    grid-column: 1;
  }
  .action-btns,
  .contact-icons,
  .title-container,
  .descr {
    justify-content: start;
  }
  .descr p {
    text-align: start;
    padding: 0;
  }
  .contact-icons {
    font-size: 30px;
  }
  .icons-list li {
    width: 75px;
    height: 75px;
    gap: 13px;
  }
  .profile-img {
    display: flex;
    grid-column: 2;
    justify-self: center;
  }
  .action-btns {
    gap: 15px;
  }
}
@media screen and (min-width: 1400px) {
  .banner-container {
    padding: 0 204px;
  }
  .port-btn {
    padding: 13px 20px;
    font-size: 15px;
  }
}
