.Nav-container {
  background-color: var(--dark-blue);
  margin: 0;
  padding: 0.9375rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.nav {
  padding: 0 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu-icon {
  font-size: 36px;
  color: white;
}
