@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Poppins:wght@100;200;400;600&display=swap");
:root {
  --poppins: "Poppins", sans-serif;
  --dark-blue: #1f2235;
  --blue: #24263b;
  --red: #ff4a57;
}
body {
  font-family: var(--poppins);
  margin: 0;
}
h1 {
  font-family: var(--poppins);
  color: white;
  font-size: 42px;
}
