.allnav {
  display: flex;
  flex-wrap: wrap;
  height: 13vh;
  max-width: 100vw;
  z-index: 50;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.Nav-container {
  background-color: var(--dark-blue);
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease;
  overflow-x: hidden;
}
.Nav-container-active {
  background-color: var(--dark-blue);
  margin: 0;
  padding: 0.9375rem;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  height: 13vh;
  z-index: 50;
  align-items: center;
  max-width: 100%;

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.nav {
  padding: 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu-icon {
  font-size: 36px;
  color: white;
  cursor: pointer;
}
.menu-active-mobile {
  list-style: none;
  padding: 15px;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 500;
  padding: 1rem;
  display: table;
  width: 100%;
  transition: color 0.3s ease;
}
.menu {
  display: none;
}

.menu-mobile-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-blue);
  z-index: 5;
}

.ul-container {
  background-color: var(--blue);
  width: 90%;
  height: fit-content;
  margin-bottom: 15px;
}
.nav-link:hover {
  color: var(--red);
  border-bottom: 2px solid white;
}

@media screen and (min-width: 992px) {
  .allnav {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--dark-blue);
    height: 13vh;
  }
  .Nav-container-active {
    flex-wrap: nowrap;
    max-width: 100%;
  }
  .menu {
    display: flex;
    margin-right: 100px;
    z-index: 51;
  }
  ul,
  .ul-container {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu-icon {
    display: none;
  }
  .nav {
    width: auto;
    margin-left: 100px;
  }
}
