.navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 80px;
  z-index: 100;
}
.navbar.active {
  background-color: var(--dark-blue);
}
.list {
  list-style-type: none;
  margin-right: 50px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
nav img {
  width: 30px;

  position: relative;
}
.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.items:hover a {
  color: var(--red);
}
.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 25px;
}
.items a {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 700px) {
  .list {
    flex-direction: column;
    height: auto;
  }
  .items:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 50px;
  }
  .items {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn {
    display: block;
  }
}
